/* Logo Style */
.logo {
    width: 80%;
    height: 80%;
}

/* Font Class */
.tangerine {
    font-family: "Tangerine", cursive;
}
.didot {
    font-family: Didot, serif;
}

/* Font color Class */
.blueFont {
    color: #4E629C;
}

/* Rounded borders class */
.rounded{
    border-radius: 3px;
}

/* Carousel background style */
.blueBackground {
    background-color: #4E629C;
}

/* Carousel caption styling */
.carousel-caption {
    background-color: #4E629C;
    border-radius: 3px;
    opacity: 0.9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0,);
}

/* Inner caption text styling */
.carousel-caption h5 {
    color: white;
    font-family: "Tangerine", cursive;
    font-size: 2.5em;
}
.carousel-caption p {
    font-family: Didot, serif;
    font-size: 0.8em;
}

/* Carousel image size */
.slideImage {
    height: 400px;
    width: 80%;
}

/* Margins for informations list */
.listMargin {
    margin-top: 1em;
    font-family: Didot, serif;
}

/* Borders class */
.border {
    border: 1px solid black;
}

/* Account creation button styling */
.accountButton {
    background-color: #4E629C;
    font-family: Didot, serif;
    color: white;
    width: 16em;
    height: 4em;
}

/* nav elements styling */
.nav-link {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 700;
    color: white !important;
    }

/* font color on hover */
.nav-link:hover {
    color: #E8D5A3 !important;
}


/* Modal header styling */
.modal-title {
    color: white;
    font-size: 2em;
}

/* Modal closing button styling */
.modalCross {
    border: none;
    width: 2em;
    height: 2em;
}

/* Modal Images styling */
.modalImage {
    width: 100%;
    height: 70%;
}

/* Modal categories buttons styling */
.categoryButton {
    margin-top: 0.5em;
    width: 8em;
    Height: 2.5em;
    color: white;
    font-family: Didot, serif;
}

/* "Or" writing in modal styling */
.orModal {
    border-top: 3px double #4E629C;
    border-bottom: 3px double #4E629C;
    font-family: Didot, serif;
}

/* "Close" button in modal styling */
.closeModal {
    border: none;
    font-family: Didot, serif;
}

/* second html page
styling */

/* Main title styling */
.pageTitle {
    color: #4E629C;
    font-size: 4em;
}

/* Example images styling */
.exampleImage {
    width: 100%;
    height: 100%;
}

/* Prices image styling */
.pricesImage {
    width: 100%;
    height: 18em;
}

/* Pricing col styling */
.pricingCol {
    background-color: #E8D5A3;
    color: #4E629C;
}

/* Subscription border */
.subBorder {
    border-top: 2px solid #4E629C;
}

/* Pricing button styling */
.priceButton {
    background-color: #4E629C;
    color: white;
}

/* Commissions table styling */
table,
th,
td {
    border: 1px solid;
}
table {
    margin: 0 auto;
}

/* Customer
landing page
styling */

/* Landing image */
.landingImage {
    width: 100%;
    height: 40%;
}

/* Account creation
page styling */

/* Diagonal text on title */
.diagonalP {
    rotate: 350deg;
}

/* Account creation
confirmed styling */

/* Création du bouton au-dessus de l'image */
.container-fluid {
    position: relative;
}
.laptopImage {
    width: 80%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageButton {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: animatedButton;
    position: absolute;
    top: 90%;
    left: 42.5%;
}
    
/* Animation du bouton */
@keyframes animatedButton {
    from {
        width: 12em;
        Height: 2.5em;
    }
    50% {
        width: 12.5em;
        height: 3em;
    }
    to {
        width: 12em;
        Height: 2.5em;
    }
}

/* subscriptionFinalisation 
styling */

/* Drag & Drop styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.drag-area{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4E629C;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: 2px dashed #fff;
    height: 150px;
    width: 230px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 20px;
    color: #fff;
  }
  .drag-area header{
    font-size: 10px;
    font-weight: 100;
    color: #fff;
  }
  .drag-area span{
    font-size: 15px;
    font-weight: 100;
    color: #fff;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 100;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
/* Badge de test puissance du mot de passe */
.displayBadge {
    border-radius: 3px;
    color: white;
    width: 90%;
}
/* Création de changement dynamique de la navbar */
.active {
    color: #E8D5A3 !important;
    text-decoration: underline;
}
/* Hotel side application navbar styling */
.sandBackground {
    background-color: #E8D5A3;
}
.hotelLink:hover {
    color: #5256ad !important;
}
.hotelActive {
    color: #5256ad !important;
    text-decoration: underline;
}
/* Hotel side homepage styling */
.hotelTitle {
    color: #E8D5A3;
    font-size: 24px;
}
.hotelIntro {
    font-size: 16px;
    color: white;
}
.hotelBody {
    background-image: url(../img/clouds_background.jpeg);
    background-attachment: fixed;
}
.hotelSeparation {
    height: 0px;
    border: none;
    border-top: 2px solid #E8D5A3;
    width: 100%;
    text-align: left;
    margin-left: 0;
    opacity: 1;
}
.hotelSub {
    font-size: 22px;
}
.drop-zone {
    max-width: 400px;
    height: 400px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: 4px dashed #E8D5A3;
    border-radius: 10px;
    margin: auto;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
.formLabel {
    display: block;
}
.confirmationButton {
    border: none;
    background-color: #E8D5A3;
    color: white;
    width: 15%;
    height: 40px;
    border-radius: 3px;
}
.exampleButton {
    border: none;
    background-color: #E8D5A3;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 3px;
}
.primaryModalImage {
    width: 80%;
    height: 300px;
    border-radius: 3px;
}
.secondaryModalImage {
    width: 80%;
    height: 150px;
    border-radius: 3px;
}
.exploreButton {
    position: absolute;
    top: 60%;
    right: 16%;
}
.discoverButton {
    position: absolute;
    top: 80%;
    left: 16%;
}
.modalSmallp {
    font-size: 10px;
    font-style: italic;
}
/* Specific hotel side services page perks */
.exampleTitle {
    font-size: 20px;
}
.exampleCol {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.formCol {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.hiddenCol {
    display: none;
}
.innerExampleCol {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.innerExampleCol:hover {
    background-color: #E8D5A3;
    color: white;
}
.exampleImage2 {
    width: 400px;
    height: 300px;
    border-radius: 3px;
}
.exampleTitle {
    font-size: 24px;
    font-weight: 400;
}
.exampleButton {
    border: none;
    background-color: #5256ad;
    color: white;
    width: 12em;
}
.deleteButton {
    background-color: red;
    color: white;
    width: 18em;
}
.showExampleButton {
    width: 12em;
    border: none;
    background-color: #E8D5A3;
    color: white;
    border-radius: 3px;
    height: 3em;
}
.radioQuestion {
    margin-bottom: 0.5em;
}
.hiddenInput {
    display: none;
}
.deleteCategoryButton {
    width: 12em;
    border: none;
    background-color: red;
    color: white;
    border-radius: 3px;
    height: 3em;
}
.saveButton {
    width: 12em;
    border: none;
    background-color: green;
    color: white;
    border-radius: 3px;
    height: 3em;
}
/* Specific Hotel side reservation page perks */
.reservationTable {
    background-color: white;
}
.reservationTable td {
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
.downloadButton {
    height: 3em;
    width: 14em;
    border: none;
    background-color: #5256ad;
    color: white;
    border-radius: 3px;
}