/* Logo Style */
.logo {
    width: 80%;
    height: 80%;
}

/* Font Class */
.tangerine {
    font-family: "Tangerine", cursive;
}
.didot {
    font-family: Didot, serif;
}

/* Font color Class */
.blueFont {
    color: #4E629C;
}

/* Rounded borders class */
.rounded{
    border-radius: 3px;
}

/* Carousel background style */
.blueBackground {
    background-color: #4E629C;
}

/* Carousel caption styling */
.carousel-caption {
    background-color: #4E629C;
    border-radius: 3px;
    opacity: 0.9;
    box-shadow: 3px 3px 5px rgba(0, 0, 0,);
}

/* Inner caption text styling */
.carousel-caption h5 {
    color: white;
    font-family: "Tangerine", cursive;
    font-size: 2.5em;
}
.carousel-caption p {
    font-family: Didot, serif;
    font-size: 0.8em;
}

/* Carousel image size */
.slideImage {
    height: 400px;
    width: 80%;
}

/* Margins for informations list */
.listMargin {
    margin-top: 1em;
    font-family: Didot, serif;
}

/* Borders class */
.border {
    border: 1px solid black;
}

/* Account creation button styling */
.accountButton {
    background-color: #4E629C;
    font-family: Didot, serif;
    color: white;
    width: 16em;
    height: 4em;
}

/* nav elements styling */
.nav-link {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 700;
    color: white !important;
    }

/* font color on hover */
.nav-link:hover {
    color: #E8D5A3 !important;
}


/* Modal header styling */
.modal-title {
    color: white;
    font-size: 2em;
}

/* Modal closing button styling */
.modalCross {
    border: none;
    width: 2em;
    height: 2em;
}

/* Modal Images styling */
.modalImage {
    width: 100%;
    height: 70%;
}

/* Modal categories buttons styling */
.categoryButton {
    margin-top: 0.5em;
    width: 8em;
    Height: 2.5em;
    color: white;
    font-family: Didot, serif;
}

/* "Or" writing in modal styling */
.orModal {
    border-top: 3px double #4E629C;
    border-bottom: 3px double #4E629C;
    font-family: Didot, serif;
}

/* "Close" button in modal styling */
.closeModal {
    border: none;
    font-family: Didot, serif;
}

/* second html page
styling */

/* Main title styling */
.pageTitle {
    color: #4E629C;
    font-size: 4em;
}

/* Example images styling */
.exampleImage {
    width: 9em;
    height: 16em;
}

/* Prices image styling */
.pricesImage {
    width: 100%;
    height: 18em;
}

/* Pricing col styling */
.pricingCol {
    background-color: #E8D5A3;
    color: #4E629C;
}

/* Subscription border */
.subBorder {
    border-top: 2px solid #4E629C;
}

/* Pricing button styling */
.priceButton {
    background-color: #4E629C;
    color: white;
}

/* Commissions table styling */
table,
th,
td {
    border: 1px solid;
}

table {
    margin: 0 auto;
}